<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
     <link rel="icon" href="/img/fav-icon.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
      <div class="main-content">
    {{>header}}
    <p>This site create by Sujith P Jose. It uses data from map.box.com and darksky.com</p>
    <img class="portrait" src="/img/dp.jpeg" />
    </div>
    {{>footer}}
</body>

</html>